absl-py==0.9.0
astor==0.8.1
Babel==2.5.3
backports.functools-lru-cache==1.6.1
backports.weakref==1.0.post1
bloom-filter==1.3
boto==2.49.0
boto3==1.10.46
botocore==1.13.46
bz2file==0.98
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
dill==0.3.1.1
docutils==0.15.2
enum34==1.1.6
funcsigs==1.0.2
futures==3.1.1
gast==0.3.2
gensim==3.2.0
grpcio==1.26.0
h5py==2.10.0
idna==2.8
jmespath==0.9.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==2.2.4
mock==3.0.5
multiprocess==0.70.9
nltk==3.3
numpy==1.16.6
pathos==0.2.5
pox==0.2.7
ppft==1.6.6.1
protobuf==3.11.2
psutil==5.6.7
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
s-tui==0.8.3
s3transfer==0.2.1
scikit-learn==0.20.4
scipy==1.2.2
six==1.13.0
sklearn==0.0
smart-open==1.9.0
subprocess32==3.5.4
tensorboard==1.12.2
tensorflow-gpu==2.9.3
termcolor==1.1.0
texttable==1.6.2
tqdm==4.41.1
urllib3==1.25.7
urwid==2.1.0
Werkzeug==0.16.0
